<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志输出格式 -->
    <property name="log.charset" value="utf-8"/>
    <property name="log.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level - %msg%n"/>
    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- 系统日志输出 -->


    <!-- 系统模块日志级别控制  -->
    <logger name="top.xmlsj" level="info"/>
    <!-- Spring日志级别控制  -->
    <logger name="org.springframework" level="warn"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>



</configuration>
