<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xmlsj.signin.script.baidu.db.BaiduUserMapper">
    <select id="truncateTable">
        delete
        from baidu_user;
    </select>
</mapper>
